.cardAlbum-container {
  width: 100%;
  padding: 2vh;
  margin-bottom: 2vh;
  border-bottom: 1px solid black;
}

.cardAlbum-link-container {
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
  align-items: center;
  justify-content: center;
}

.image-title-cardAlbum {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.image-title-cardAlbum img {
  filter: drop-shadow(0 0 0.35rem black);
}

.image-title-cardAlbum  h3 {
  font-size: 0.7em;
  padding-top: 1vh;
  width: 150px;
}

.cardAlbum-link-container p {
  font-size: 0.9em;
  margin-bottom: 5vh;
}

@media screen and (min-width : 768px) {
  .cardAlbum-container {
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width : 1024px) {
  .cardAlbum-container {
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width : 1440px) {
  .image-title-cardAlbum  h3 {
    font-size: 0.9em;
    padding-top: 1vh;
    width: 200px;
  }
  
  .cardAlbum-link-container p {
    font-size: 1em;
  }
}