.profile-container {
  background-color: rgb(26, 25, 25);
  min-height: 100vh;
}

.profile-items-container {
  padding: 2vh;
  color: rgba(255, 255, 255, 0.712);
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info-container img {
  width: 100px;
  height: 100px;
  border: 5px solid rgb(94, 2, 94);
  border-radius: 50%;
}

.profile-info-container button {
  width: 60%;
  border-radius: 15px;
  border: none;
  height: 5vh;
  text-transform: uppercase;
  background-color: rgb(94, 2, 94);
}

.profile-info-container button a {
  text-decoration: none;
  color: white;
}

.profile-info {
  padding: 3vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info h3, .profile-info-description h3 {
  font-size: 1em;
  font-weight: 400;
}

.profile-info-description h3 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.726);
  margin-bottom: 2vh;
}

.profile-info p {
  font-size: 0.8em;
  font-weight: 300;
  text-align: end;
}

.profile-info-description p {
  font-size: 0.8em;
  font-weight: 300;
  text-align: justify;
}

.profile-info-description {
  padding: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width : 768px) {
  .profile-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-info-container {
    width: 50%;
  }
}

@media screen and (min-width : 1024px) {
  .profile-info-container img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width : 1440px) {
  .profile-info-container img {
    width: 150px;
    height: 150px;
  }

  .profile-info h3, .profile-info-description h3 {
    font-size: 1.2em;
  }

  .profile-info p, .profile-info-description p {
    font-size: 1.2em;
  }

  .profile-info-container button {
    font-size: 1em;
  }
}