.page-search {
  background-color: rgb(26, 25, 25);
  min-height: 100vh;
}

.container-search {
  background-color: black;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.forms-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputArtist {
  width: 90%;
  border-radius: 15px;
  border: none;
  height: 5vh;
  text-align: center;
}

.inputArtist::placeholder {
  font-style: italic;
  text-align: center;
}

.search-btn {
  width: 90%;
  border-radius: 15px;
  border: none;
  height: 5vh;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgb(94, 2, 94);
  color: white;
}

.search-btn:disabled {
  background-color: rgb(34, 33, 36);
}

.container-search-notFound {
  padding: 2vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-search-notFound img {
  width: 70px;
  filter: drop-shadow(0 0 0.25rem black);
}

.container-search-notFound h3{
  color: rgba(255, 255, 255, 0.712);
  font-weight: 400;
  font-style: italic;
  text-align: center;
  font-size: 1em;
}

.container-search-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vh;
}

.container-search-found .search-found-artist {
  color: rgba(255, 255, 255, 0.712);
  font-weight: 400;
  text-align: center;
  margin-bottom: 2vh;
  border-bottom: 1px solid grey;
}

.search-found-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-found-list li {
  list-style: none;
}

.loading {
  width: 100%;
  height: 70%;
  background-color:  rgb(26, 25, 25);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width : 768px) {
  .forms-search {
    width: 50%;
  }

  .search-found-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width : 1024px) {
  .forms-search {
    width: 40%;
  }
}

@media screen and (min-width : 1440px) {
  .inputArtist,   .search-btn {
    font-size: 1.1em;
  }
}